/*------------------------------------*\
    #SKIP LINKS
\*------------------------------------*/

.ds_skip-links {
  position: relative;
}

.ds_skip-links__list {
  list-style-type: none;
  margin: 0;
}

.ds_skip-links__item {
  margin: 0;
}

.ds_skip-links__link {
  clip: auto;
  display: block;
  height: auto;
  left: 10px;
  overflow: hidden;
  padding: 7px;
  position: absolute;
  top: 10px;
  width: auto;

  &:focus {
      clip: auto;
      height: auto;
      width: auto;
      z-index: 10000;
  }
}
