/*------------------------------------*\
    $ERROR MESSAGE
\*------------------------------------*/

/// [1] compensate for border
.ds_error-message {
  size: 19;
  font-weight: $bold;
  display: block;
  margin-top: 0; // Reset any default browser margins for paragraphs
  margin-bottom: ds_responsive-spacing(3);
  clear: both;

  color: $ds_colour__state--negative;
}

